/* RESETS
=========================================== */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;

  &:before, &:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

body {
  margin: 20px 0;
  padding: 0 20px;
  line-height: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #202020;
  background-color: #fbfbfb;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* POKEMON APPLICATION
=========================================== */

.container {
  display: flex;
  max-width: 990px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;

  p {
    margin: 0;
  }

  .pokemon {
    width: 32%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .pokemon__name {
    background-color: #ecd018;
    text-align: center;
    padding: 10px;

    p {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      letter-spacing: 4px;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  .pokemon__image {
    padding: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .pokemon__attacks {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;

    span {
      width: 30%;
      background-color: #f16820;
      border-radius: 3px;
      padding: 7px;
      font-weight: 700;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
      margin-bottom: 10px;
      word-wrap: break-word;
      text-align: center;
      line-height: 15px;
    }
  }

  .pokemon__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;

    span {
      color: white;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
      background-color: #7bb7b7;
      font-weight: bold;
      margin: 0;
      padding: 5px 20px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 800px) {
  .container .pokemon {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .container {
    .pokemon__attacks {
      flex-wrap: wrap;
    }

    .pokemon__meta {
      flex-wrap: wrap;

      span {
        width: 100%;
      }
    }

    .pokemon__attacks span, .pokemon {
      width: 100%;
    }

    .pokemon__meta span {
      margin-bottom: 10px;
    }
  }
}